.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  padding: 26px 20px;
}

.contacts--background {
  background-color: #f2f2f2;
}

.contacts__offer {
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;
}
