.button {
  display: block;
  padding: 10px 44px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.button--primary {
  background-color: #68b738;
}

.button--hero {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}

.button--show-all {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
