.contacts__wrapper {
  margin: 0 auto;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.contacts__wrapper-flex {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 61px 78px 60px 80px;
    top: 95px;
    left: 110px;
    width: 565px;
    background-color: #ffffff;
  }
}

.contacts--background {
  background-color: #f2f2f2;
}

.contacts__offer {
  margin: 0;
  width: 140px;
  color: #111111;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 140px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 157px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    text-align: left;
  }
}

.contacts__map {
  margin: 0 auto;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
