.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 110px;
  }
}

.footer__logo {
  display: block;
  padding-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 128px;
    border-bottom: none;
  }
}

.footer__academy-logo-link {
  margin: 0;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
  font-family: "Lato", "century gothic", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 168px;
  }
}

.footer__academy-logo-text:active {
  opacity: 0.3;
}

.footer__academy-logo-icon {
  display: block;
  fill: #666666;
}

.footer__academy-logo-link:hover .footer__academy-logo-icon,
.footer__academy-logo-link:focus .footer__academy-logo-icon {
  fill: #68b738;
}

.footer__academy-logo-link:active {
  fill: #68b738;
  opacity: 0.3;
}
