.form__wrapper-grid {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 110px 570px 80px 570px 110px;
  }
}

.form__wrapper-cat {
  margin: 0 auto;
  padding: 0 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 75px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 570px;
    grid-column: 2/3;
  }
}

.form__wrapper-programms {
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 28px 20px 25px 20px;
  width: 320px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 65px;
    padding: 28px 27px 32px 27px;
    width: 628px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 570px;
    grid-column: 4/5;
  }
}

.form__wrapper-contacts {
  margin: 0 auto;
  padding: 0 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 51px 110px;
  }
}

.form__wrapper-comment {
  margin: 0 auto;
  padding: 0 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 70px 110px;
  }
}

.form__wrapper-add {
  margin: 0 auto;
  padding: 0 20px 32px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 82px 110px;
  }
}

.form__wrapper-button {
  margin: 0 auto;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 17px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.form__note {
  margin: 0;
  margin-top: 21px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-family: "Lato", sans-serif;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 64px;
    text-align: left;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
