.form__wrapper-grid {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 110px 570px 80px 570px 110px;
  }
}

.form__wrapper-button {
  margin: 0 auto;
  padding: 0 20px 32px 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px 60px 70px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 80px 110px;
  }
}

.form__note {
  margin: 0;
  margin-top: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 64px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
