.form-group {
  margin: 0;
  padding: 0;
  border: none;
}

//Данные о коте

.form-group__inputs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-group__item {
  position: relative;
  margin-bottom: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-group__item:last-child {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-group__item-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0 13px;
  align-items: center;
}

.form-group__input {
  padding: 10px 35px 9px 15px;
  min-width: 173px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    padding: 10px 35px 9px 20px;
  }
}

.form-group__input:active,
.form-group__input:focus {
  border-color: #444444;
}

.error {
  border: 2px solid #ff8282;
}

.form-group__input[type="number"] {
  appearance: textfield;
}

.form-group__input[placeholder] {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

//Выбор программы (радио-кнопки)

.form-group__item-radio {
  margin-bottom: 25px;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.form-group__item-radio:last-child {
  margin-bottom: 0;
}

.form-group__radio-label {
  padding: 4px 0 6px 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-group__radio-input[type="radio"] {
  margin: 0;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-group__radio-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

//Контакты владельца

.form-group__title-contacts {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.contacts-grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 80px;
  }
}

.form-group__email-icon::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 14px;
  top: 14px;
  right: 12px;
  mask-image: url("../../img/sprite.svg#email");
  background-color: #000000;

  @media (min-width: $desktop-width) {
    top: 18px;
    right: 16px;
  }
}

.form-group__input[type="email"]:active + .form-group__email-icon::before,
.form-group__input[type="email"]:focus + .form-group__email-icon::before {
  background-color: #68b738;
}

.form-group__tel-icon::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 14px;
  top: 14px;
  right: 12px;
  mask-image: url("../../img/sprite.svg#tel");
  background-color: #000000;

  @media (min-width: $desktop-width) {
    top: 18px;
    right: 16px;
  }
}

.form-group__input[type="tel"]:active + .form-group__tel-icon::before,
.form-group__input[type="tel"]:focus + .form-group__tel-icon::before {
  background-color: #68b738;
}

//Комментарий

.form-group__title-comment {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
  }
}

.form-group__comment {
  padding: 14px;
  width: 100%;
  min-height: 148px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 20px;
  }
}

.form-group__comment[placeholder] {
  color: #444444;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

//Дополнительно (чекбоксы)

.form-group__title-add {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.form-group__checkbox-inputs {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 344px 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }
}

.form-group__item-checkbox {
  margin-bottom: 25px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.form-group__checkbox-label {
  padding-left: 45px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-group__checkbox-input[type="checkbox"] {
  margin: 0;
  appearance: none;
  position: absolute;
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-group__checkbox-input[type="checkbox"]:checked {
  background: url("../../img/sprite.svg#checkbox") center no-repeat;
  background-size: 18px 14px;

  @media (min-width: $tablet-width) {
    background-size: 24px 19px;
  }
}
