.form-header {
  margin-bottom: 14px;
  padding: 27px 20px 0 20px;
}

.form-header__title {
  margin: 0;
  margin-bottom: 37px;
}

.form-header__text {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
