.hero {
  background-image: url("../../img/hero-background-mobile.webp"), linear-gradient(to right, #64a83c, #62a53a);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 63.5%;
  color: #ffffff;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/hero-background-mobile@2x.webp"), linear-gradient(to right, #64a83c, #62a53a);
  }

  @media (min-width: $tablet-width) {
    background: #ffffff;
  }

  @media (min-width: $desktop-width) {
    min-height: 694px;
    background-image: url("../../img/hero-background-desktop.webp"), linear-gradient(to right, #ffffff 50%, #64a73c 50%);
    background-position: bottom right;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/hero-background-desktop@2x.webp"), linear-gradient(to right, #ffffff 50%, #64a73c 50%);
      background-size: 50% auto;
    }
  }
}

.hero__wrapper {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 27px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 65px 30px 0 30px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding: 224px 110px 0 110px;
    min-height: 694px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding-left: 90px;
    width: 506px;
    color: #000000;
    order: -2;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  z-index: 2;
  order: -2;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    width: 414px;
  }
}

.hero__img {
  @media (min-width: $tablet-width) {
    margin-bottom: -80px;
    position: relative;
    top: -80px;
    display: block;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 143px;
    left: 557px;
  }
}
