.main-navigation {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-navigation__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list {
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    display: flex;
    gap: 33px;
  }
}

// .main-navigation__list--closed {
//   display: none;
// }

.main-navigation__link {
  text-decoration: none;
  color: #000000;
}
