.other-products__wrapper {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: flex;
  }
}

.other-products__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.other-products__item {
  border-top: 1px solid #cdcdcd;
}

.other-products li:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.other-products__title {
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.other-products__gift {
  margin-bottom: 35px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 290px;
  align-items: center;
  background: url("../../img/gift-mobile.webp") top center no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../../img/gift-mobile@2x.webp") top center no-repeat;
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) and (max-width: 1339px) {
    margin-bottom: 75px;
    padding: 0;
    background: url("../../img/gift-tablet.webp") top center no-repeat;
    flex-direction: row;
    gap: 264px;
    min-height: 200px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/gift-tablet@2x.webp") top center no-repeat;
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 245px;
    min-height: 288px;
    background: url("../../img/gift-desktop.webp") top center no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../../img/gift-desktop@2x.webp") top center no-repeat;
      background-size: 245px auto;
    }
  }
}

.other-products__gift::before {
  content: "";
  margin-top: 59px;
  width: 78px;
  height: 80px;
  background-image: url("../../img/sprite.svg#gift-icon");

  @media (min-width: $tablet-width) and (max-width: 1339px) {
    margin-top: 0;
    margin-left: 77px;
  }
}

.other-products__gift-text {
  margin: 0;
  width: 161px;
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) and (max-width: 1339px) {
    text-align: left;
  }
}
