.page-content {
  flex-grow: 1;
}

.page-content__wrapper {
  margin: 0 auto;
  padding: 27px 20px 39px 20px;

  @media (min-width: $tablet-width) {
    padding: 65px 30px 84px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 84px 110px;
  }
}

.page-content__title {
  margin: 0;
  color: #000000;
}
