.programs__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 570px;
    padding: 47px 61px 59px 52px;
  }
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
    padding-top: 30px;
  }
}

.programs__description {
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.programs__link {
  position: relative;
  padding: 4px 40px 4px 0;
  text-decoration: none;
  color: #000000;
  line-height: 16px;
  text-transform: uppercase;
}

.narrow {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.narrow::after {
  content: "";
  position: absolute;
  right: -6px;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 7px solid #000000;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.programs__link:hover .narrow {
  width: 26px;
  transition: 0.3s;
}

.programs__link:hover {
  padding-right: 48px;
}

.programs__link:active {
  opacity: 0.3;
}

.programs__icon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  text-align: center;
  float: left;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 53px;
    width: 200px;
    height: 200px;
    float: right;
  }

  @media (min-width: $desktop-width) {
    margin-right: 62px;
    margin-left: 0;
    width: 100px;
    height: 100px;
    float: left;
  }
}

.small-cat-icon {
  position: relative;
  bottom: 3px;

  @media (min-width: $tablet-width) {
    bottom: 17px;
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    bottom: 9px;
    width: 70px;
    height: 97px;
  }
}

.big-cat-icon {
  position: relative;
  top: 11px;
  left: -8px;

  @media (min-width: $tablet-width) {
    top: 44px;
    left: -34px;
    width: 269px;
    height: 113px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: -19px;
    width: 134px;
    height: 56px;
  }
}
