.socials {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
  }
}

.socials__list {
  margin: 0 auto;
  padding: 0;
  width: 132px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.socials__icon {
  fill: #666666;
}

.socials__icon:hover {
  fill: #68b738;
}

.socials__icon:active {
  fill: #68b738;
  opacity: 0.3;
}
